@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;


}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;


   
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}












/* my changes */





body {

display: flex;
flex-direction: column;



}




button {


  padding: 8px 16px;


  
}




ul {

display: flex;

list-style: none;

gap: 25px;

padding: 0px 16px;


}





a {
  

  
text-decoration: none;
color: rgb(104, 104, 104);
font-size: 14px;







}






.header {

background-color: aqua;

display: flex;

margin-bottom: auto;



}






.content {
background-color: rgb(189, 117, 117);
display: flex;


flex-direction: column;

align-items: center;
gap: 10px;





}






.footer {

background-color: rgb(242, 242, 242);
display: flex;
margin-top: auto;
 

}



.left-links{
display: flex;

  background-color: aquamarine;

  margin-right: auto;






  



  
}


.right-links {
  display: flex;
  background-color: rgb(227, 127, 255);
justify-content: end;




}