body {
  background: #eee;
  font-family: sans-serif;


  
}

.card {
  width: 650px;
  background: #fff;
  margin: 16px auto;
  padding: 14px;
  
}

.title {
  background: #e3f4ff;

  font-size: 25px;
  padding: 14px;
  
}

.content {
  background: #e3f4ff;
  padding: 14px;
  
  margin-bottom: 15px;
  font-size: 25px;


}

.button-container {
  background: #e3f4ff;
  
  text-align: c;

  font-size: 25px;
  padding: 25px;

  

}

button {
  background: white;
  border: 1px solid #eee;
  
margin: auto;

  font-size: 25px;
  padding: 20px;
   
     display: block; 
   
  
  
}